version: "3.9"


services:
  auth-db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  calendar-db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  email-db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  auth-service:
    build: ./auth_service/
    command: gunicorn conf.wsgi --bind 0.0.0.0:8000
    environment:
      - SIGNING_KEY=5ahp8kseKOVB_w-DTpQoK4Akl3nVy45Lmbev2NNm95wUyLytIxli6pHccX
      - FORCE_SCRIPT_NAME=/auth
      - STATIC_ROOT=/var/www/static
      - PG_NAME=postgres
      - PG_HOST=auth-db
      - PG_PASSWORD=postgres
    volumes:
      - static:/var/www/static
    depends_on:
      - auth-db

  calendar-service:
    build: ./calendar_service/
    command: gunicorn conf.wsgi --bind 0.0.0.0:8000
    environment:
      - SIGNING_KEY=5ahp8kseKOVB_w-DTpQoK4Akl3nVy45Lmbev2NNm95wUyLytIxli6pHccX
      - FORCE_SCRIPT_NAME=/calendar
      - STATIC_ROOT=/var/www/static
      - PG_NAME=postgres
      - PG_HOST=calendar-db
      - PG_PASSWORD=postgres
    volumes:
      - static:/var/www/static
    depends_on:
      - calendar-db

  email-service:
    build: ./email_service/
    command: gunicorn conf.wsgi --bind 0.0.0.0:8000
    environment:
      - SIGNING_KEY=5ahp8kseKOVB_w-DTpQoK4Akl3nVy45Lmbev2NNm95wUyLytIxli6pHccX
      - FORCE_SCRIPT_NAME=/email
      - STATIC_ROOT=/var/www/static
      - PG_NAME=postgres
      - PG_HOST=email-db
      - PG_PASSWORD=postgres
    volumes:
      - static:/var/www/static
    depends_on:
      - email-db

  redis:
    image: redis:alpine
    ports:
      - 6379:6379

  nginx:
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static:/var/www/static
    ports:
      - 4000:80
    depends_on:
      - auth-service

volumes:
  static:
